.primary_button {
    display: block;
    width: 80%;
    padding: 1rem 2rem;
    background-color: yellowgreen;
    color: white;
    @include bodyFont(16, 20, 500);
    text-transform: capitalize;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 1rem auto;

    &:hover {
        background-color: rgb(48, 60, 23);
    }
}